*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
  font-family: 'Lustria', serif;
}

nav{
  background-color: transparent;
}

nav ul a {
  color: black;
}

/* welcome */
.weclome{
  padding: .5rem 2rem;
}

.weclome__area{
  background-color: #fcf8f8ee;
  padding: 1rem 0;
}

.weclome__title{
  font-size: 2rem;
  margin-top: .7rem;
  text-align: center;
}

.weclome__paragraph{
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

/* apartment list */
.apartmentList{
  padding: .5rem 1.7rem;
}

.apartmentList__title{
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.apartmentList__key{
  font-size: .8rem;
}

/* edit apartment */
.editApartment{
  padding: .5rem 1.7rem;
}

/* button */
.button__submit{
  display: block;
  width: 100%;
}

/* utilities */
.image{
  width: 10rem;
  height: 4rem;
}

.image-big{
  display: block;
  width: 100%;
  max-width: 50rem;
  margin: auto;
}

.flex-row{
  display: flex;
}

.flex-align-items-center{
  align-items: center;
}

.flex-justify-content-space-between{
  justify-content: space-between;
}

.translateY-2{
  transform: translateY(2rem);
}

.mb-2{
  margin-bottom: 2rem;
}

.mr-2{
  margin-right: 2rem;
}

.purple-color{
  color: #cb56d6;
}

.bold{
  font-weight: bold;
}

.flex-col{
  display: flex;
  flex-direction: column;
}