*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.image{
  width: 10rem;
}

.flex-row{
  display: flex;
}

.flex-align-items-center{
  align-items: center;
}

.flex-justify-content-space-between{
  justify-content: space-between;
}